<%= form_for(Message.new, :html => {:class => 'form-inline'}, :remote => 'true') do |f| %> 
<div class="form-group" style="width: 100%"> 
	<div class="input-group" style="width: 100%">
		<%= f.text_field :content, class:"form-control", style: 'height:45px;', autocomplete: 'off' %>
		<div class="input-group-addon" style="width: 100px;">
			<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-send"></i> Send </button>
		</div>
	</div>
</div>
<% end %>



 